$button-bg: #12ff12;
$border-radius: 20px;
$button-pressed-bg: #269a2b;
$accent: #0078ad;  /*for primary*/

@import "~@progress/kendo-theme-default/scss/button";
//@import "~@progress/kendo-theme-default/scss/all";

